# אל תכניס סביבות וירטואליות
venv/
env/
.venv/

# אל תכניס קבצי מטמון של פייתון
__pycache__/
*.pyc

# *** חשוב: אל תכניס את קובץ הסביבה שמכיל מידע רגיש ***
.env

# (אנחנו מחברים את ה-inventory מבחוץ, אבל לא נורא אם הוא בחוץ)